body {
    background-color: #90D26D;
}


.startingCharacter {
    width: calc(32px * 6);
    height: calc(32px * 6);
    overflow: hidden;
    margin: 8em 15em;

}

.characterSprite {
    margin-top: -200px;
    animation: moveSpriteSheet 1s steps(4) infinite;
    width: calc(115px * 6);
}

.pixelart {
    image-rendering: pixelated;
}

@keyframes moveSpriteSheet {
    from{
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0)
    }
}



.math-problem {
    padding-top: 20px;
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.answer {
    display: flex;
    align-items: center; 
    transform: translate(35%, -10%);

}

.btn {
    text-align: center;
    cursor: pointer;
}

#btn-next {
    margin-top: -20px;
    width: 50px;
    opacity: 100;
}

#btn-check {
    opacity: 100;
}

.flashcard {
    background-color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -100%);
    border: solid 2px black; 
    border-radius: 20px;
    width: 400px;
    height: 150px;
}

#input-1, #input-2 {
    width: 5%;
    margin-left: 3px;
    margin-right: 1px;
}

#tick {
    width: 30px;
    opacity: 0;
}

#cross {
    width: 20px;
    margin-left: -20px;
    opacity: 0
}